.head , .inpt {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 100%;
    
}

body{
 margin-top: 50px;
 font: 'Raleway', sans-serif;
 color: rgba(0,0,0,.5);
 letter-spacing: .5em;
 background: linear-gradient(to right, red , yellow); 
}
